{%extends 'base.html'%}
{% load bootstrap4 %}
{%block content%}

<div class="container">
    <h1 class="text-center">YSL AWARDS</h1>
    <p class="text-center">Please feel free to view others' projects, rate, comment, and add projects of your own as well.</p>
    {% for project in projects %}
    <div class="card mb-3 mx-auto" style="max-width: 30rem;">
        <div class="card-header bg-transparent border-success">{{project.title}}</div>
        <img class="card-img-top" src="{{project.image.url}}" alt="{{project.title}}">
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">{{project.description}}</p>
            <div class="btn btn-sm">Design: {{avg_design}}</div>
            <div class="btn btn-sm">Usability: {{avg_usability}}</div>
            <div class="btn btn-sm">Content: {{avg_content}}</div>
            <br>
            <a class="btn btn-sm btn-info" href="{{project.link}}">View Site</a>
            <hr>
            <h5 class="card-title">Comments</h5>
            {% for rating in ratings %}
            {% if project.id == rating.project.id %}
            <p class="card-text"><strong>{{rating.critic}} </strong>{{rating.text}} <small>posted on {{rating.pub_date}}</small></p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="card-footer">
            <form action="{%url 'rate' project.id%}" enctype="multipart/form-data" method="post" role="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm" value="submit">
                </div>
            </form>
        </div>
    </div>
    {%endfor%}
</div>

{%endblock%}